In [25]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('Video_Games.csv', encoding='windows-1254')

In [27]:
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# Data Cleaning

In [40]:
data.isnull().values.any()

True

In [42]:
data.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [70]:
data['Year_of_Release'] = data['Year_of_Release'].astype('Int64')

In [73]:
data['User_Count'] = data['User_Count'].astype('Int64')

In [72]:
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,<NA>,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,<NA>,NaN,NaN

In [74]:
data['NA_Sales'].unique()

array([4.136e+01, 2.908e+01, 1.568e+01, 1.561e+01, 1.127e+01, 2.320e+01,
       1.128e+01, 1.396e+01, 1.444e+01, 2.693e+01, 9.050e+00, 9.710e+00,
       9.000e+00, 8.920e+00, 1.500e+01, 9.010e+00, 7.020e+00, 9.430e+00,
       1.278e+01, 4.740e+00, 6.380e+00, 1.083e+01, 9.540e+00, 9.660e+00,
       8.410e+00, 6.060e+00, 3.430e+00, 5.510e+00, 6.850e+00, 9.040e+00,
       5.890e+00, 6.030e+00, 9.700e+00, 5.280e+00, 4.990e+00, 8.250e+00,
       8.520e+00, 5.540e+00, 6.990e+00, 6.620e+00, 5.030e+00, 5.990e+00,
       3.960e+00, 2.500e+00, 7.970e+00, 6.910e+00, 4.340e+00, 4.350e+00,
       3.010e+00, 6.160e+00, 6.760e+00, 4.020e+00, 4.890e+00, 2.960e+00,
       4.760e+00, 5.010e+00, 6.730e+00, 5.950e+00, 3.660e+00, 5.550e+00,
       7.040e+00, 6.650e+00, 3.880e+00, 5.800e+00, 4.100e+00, 5.930e+00,
       4.360e+00, 5.700e+00, 2.030e+00, 4.400e+00, 5.050e+00, 3.540e+00,
       1.120e+00, 6.820e+00, 1.750e+00, 3.740e+00, 1.060e+00, 2.790e+00,
       2.910e+00, 9.900e-01, 2.570e+00, 2.990e+00, 2.280e+00, 7.280e+00,
       2.760e+00, 2.900e+00, 2.810e+00, 6.600e-01, 3.780e+00, 3.270e+00,
       3.560e+00, 5.390e+00, 4.590e+00, 4.810e+00, 4.460e+00, 3.480e+00,
       2.850e+00, 2.530e+00, 2.980e+00, 3.680e+00, 3.150e+00, 4.410e+00,
       4.120e+00, 2.710e+00, 2.930e+00, 3.230e+00, 4.050e+00, 4.150e+00,
       2.770e+00, 3.450e+00, 3.110e+00, 8.400e-01, 1.660e+00, 7.800e-01,
       2.640e+00, 3.170e+00, 4.980e+00, 2.550e+00, 3.640e+00, 3.700e+00,
       4.010e+00, 2.470e+00, 8.000e-02, 3.920e+00, 8.000e-01, 2.450e+00,
       4.470e+00, 3.180e+00, 2.630e+00, 1.880e+00, 2.410e+00, 2.800e+00,
       6.300e-01, 2.260e+00, 2.490e+00, 3.570e+00, 3.070e+00, 2.970e+00,
       2.950e+00, 2.540e+00, 3.280e+00, 3.140e+00, 4.700e-01, 2.620e+00,
       3.210e+00, 2.070e+00, 2.730e+00, 1.850e+00, 2.180e+00, 1.740e+00,
       3.020e+00, 1.620e+00, 3.130e+00, 1.920e+00, 3.330e+00, 3.220e+00,
       2.300e+00, 4.260e+00, 9.700e-01, 6.500e-01, 1.210e+00, 1.090e+00,
       2.100e+00, 2.440e+00, 1.980e+00, 3.810e+00, 3.590e+00, 1.630e+00,
       1.960e+00, 3.400e+00, 6.100e-01, 2.050e+00, 1.700e+00, 3.420e+00,
       3.360e+00, 3.490e+00, 3.050e+00, 1.830e+00, 2.310e+00, 3.980e+00,
       0.000e+00, 2.600e+00, 1.910e+00, 2.740e+00, 2.830e+00, 2.360e+00,
       1.730e+00, 1.940e+00, 2.290e+00, 1.820e+00, 2.420e+00, 3.040e+00,
       1.800e+00, 2.080e+00, 1.870e+00, 4.180e+00, 3.190e+00, 4.210e+00,
       3.630e+00, 2.780e+00, 2.000e-01, 1.610e+00, 1.540e+00, 2.520e+00,
       2.660e+00, 1.000e-01, 2.820e+00, 2.190e+00, 1.560e+00, 3.030e+00,
       2.200e+00, 2.090e+00, 2.110e+00, 1.480e+00, 4.000e+00, 5.800e-01,
       2.510e+00, 3.000e+00, 2.240e+00, 1.460e+00, 1.410e+00, 9.200e-01,
       8.800e-01, 1.280e+00, 2.250e+00, 3.380e+00, 2.040e+00, 3.790e+00,
       4.030e+00, 1.650e+00, 7.100e-01, 1.420e+00, 1.100e+00, 2.320e+00,
       1.200e-01, 2.350e+00, 2.120e+00, 1.400e+00, 1.680e+00, 1.130e+00,
       1.220e+00, 2.670e+00, 1.020e+00, 1.190e+00, 1.530e+00, 2.150e+00,
       9.000e-01, 1.970e+00, 6.800e-01, 1.160e+00, 9.300e-01, 1.440e+00,
       1.600e-01, 2.130e+00, 2.210e+00, 1.780e+00, 8.600e-01, 1.350e+00,
       1.050e+00, 2.230e+00, 2.400e+00, 1.370e+00, 1.300e+00, 1.950e+00,
       1.930e+00, 1.330e+00, 1.490e+00, 1.580e+00, 5.000e-02, 6.000e-01,
       2.020e+00, 2.380e+00, 1.600e+00, 2.010e+00, 1.570e+00, 1.230e+00,
       1.900e+00, 2.140e+00, 1.170e+00, 2.270e+00, 1.640e+00, 5.900e-01,
       1.550e+00, 4.600e-01, 8.100e-01, 1.450e+00, 2.700e-01, 1.470e+00,
       1.990e+00, 1.500e+00, 9.000e-02, 2.610e+00, 1.890e+00, 5.000e-01,
       8.900e-01, 9.500e-01, 2.340e+00, 7.200e-01, 1.720e+00, 1.180e+00,
       1.760e+00, 7.300e-01, 1.270e+00, 2.060e+00, 5.500e-01, 1.520e+00,
       1.690e+00, 2.170e+00, 5.100e-01, 1.000e+00, 1.290e+00, 1.380e+00,
       1.150e+00, 1.670e+00, 1.360e+00, 1.010e+00, 1.040e+00, 1.840e+00,
       2.220e+00, 7.900e-01, 1.510e+00, 1.070e+00, 1.320e+00, 1.590e+00,
       2.000e-02, 2.900e-01, 1.250e+00, 2.560e+00, 1.430e+00, 1.200e+00,
       4.100e-01, 2.800e-01, 4.300e-01, 6.900e-01, 2.000e+00, 7.600e-01,
       1.860e+00, 4.800e-01, 6.200e-01, 1.310e+00, 3.700e-01, 1.500e-01,
       6.400e-01, 2.600e-01, 4.900e-01, 1.110e+00, 1.300e-01, 1.810e+00,
       1.030e+00, 1.260e+00, 8.700e-01, 7.700e-01, 9.600e-01, 1.390e+00,
       1.080e+00, 8.500e-01, 9.100e-01, 3.000e-01, 3.800e-01, 9.400e-01,
       7.000e-02, 1.340e+00, 1.240e+00, 3.400e-01, 1.400e-01, 1.000e-02,
       5.200e-01, 8.200e-01, 8.300e-01, 1.100e-01, 2.500e-01, 1.770e+00,
       3.600e-01, 7.500e-01, 7.400e-01, 1.800e-01, 2.200e-01, 5.300e-01,
       4.200e-01, 3.200e-01, 3.900e-01, 2.400e-01, 2.300e-01, 6.000e-02,
       4.500e-01, 7.000e-01, 6.700e-01, 3.500e-01, 5.600e-01, 1.140e+00,
       9.800e-01, 5.700e-01, 5.400e-01, 4.000e-02, 1.700e-01, 4.400e-01,
       3.000e-02, 3.300e-01, 3.100e-01, 4.000e-01, 2.100e-01, 1.900e-01])